<!-- your-component.component.html -->
<!-- admin.component.html -->
<div class="container">
    <h2>Liste des formateurs</h2>
    <table class="table">
      <thead>
        <tr>
          <th>Nom</th>
          <th>Email</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let formateur of formateurs">
          <td>{{ formateur.nom }}</td>
          <td>{{ formateur.email }}</td>
          <td>
            <button class="btn btn-success" (click)="validerFormateur(formateur.id)">Valider</button>
            <button class="btn btn-danger" (click)="supprimerFormateur(formateur.id)">Supprimer</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
 
   
